[submodule ".vim/vim-plug"]
	path = .vim/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule ".zsh/zplug"]
	path = .zsh/zplug
	url = https://github.com/zplug/zplug.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
