*.zwc

/.tmux/plugins/*
!/.tmux/plugins/tpm
/.tmux/resurrect

/.vim/local.vim
/.vim/bundle/*
!/.vim/bundle/repos/github.com/Shougo/dein.vim
/.vim/tmp/*
/.vim/cache
/.viminfo

/.zshenv
/.vim/my_autoload/local.vim

!.gitkeep
