[core]
  excludesfile = ~/.gitignore_global
[user]
  name = Motoi Okuzono
  email = motoi.okuzono+github@gmail.com
[gpg]
	program = /opt/homebrew/bin/gpg
[commit]
  gpgsign = true
[pull]
  rebase = true
[ghq]
  root = ~/ghq
[alias]
  c = commit
  cm = commit -m
  cf = commit --fixup
  co = checkout
  cob = checkout -b
  cp = cherry-pick
  r = rebase
  s = status -s
  wip = commit -a -m wip
  unwip = reset @~1
  unstage = reset HEAD
  current = rev-parse --short HEAD
  refresh="!f() { `git remote | grep upstream` && remote=upstream || remote=origin; branch=`git rev-parse --abbrev-ref HEAD`; default_branch=`git remote show origin | grep 'HEAD branch' | awk '{print $NF}'`; git checkout $default_branch; git fetch origin $default_branch; git rebase $remote/$default_branch; git checkout $branch; git rebase $default_branch; }; f"
  fixup="!f() { git add -A; git commit --fixup=HEAD^; git rebase -i --autosquash HEAD^^; }; f"
  ci = "!hub issue create"
  oi = "!hub browse -- issues/$(git rev-parse --abbrev-ref HEAD | awk -F "-" '{print $2}')"
  cpr = "!git push origin $(git rev-parse --abbrev-ref HEAD) -f && hub pull-request -m \"issue: #$(git rev-parse --abbrev-ref HEAD | awk -F '-' '{print $2}')\" --edit"
  opr = "!hub browse -- pull/$(git rev-parse --abbrev-ref HEAD)"
[include]
  path = ~/.gitconfig_local
[hub]
	host = github.com
